@charset "utf-8";
/* CSS Document */

h1 {
	 padding-left: 50px;
	padding-top: 12px;
     color: #F26A21
	
}

p {
	padding-left: 50px; 
	width:700px;
	line-height: 1.4em; 
	font-size: 1.4em
}

ul li {
	margin-left: 50px;
	margin-top: 1em;
	font-size: 1.3em;
	width:700px;
}

a:link, a:visited, a:hover, a:active {
	color: white;
	text-decoration: underline;
}



